# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [1]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

In [10]:
## Combining the tables of best selling singles - adding a column to identify the source - visual inspection of the wikipedia page for physical and digital sales
best_selling_singles = pd.concat([rawdata[0], rawdata[3], rawdata[1], rawdata[4]], axis=0)

best_selling_singles['source'] = (
    ['physical'] * rawdata[0].shape[0] +
    ['digital'] * rawdata[3].shape[0] +
    ['physical'] * rawdata[1].shape[0] +
    ['digital'] * rawdata[4].shape[0]
)

## Reset index

best_selling_singles.reset_index(drop=True, inplace=True)


## Function to output the artist and single names from 2001 - if no 2001, then the closest year to 2001

def get_artist_and_single(year):
    # checking year in the 'Released' column
    if year in best_selling_singles['Released'].values:
        # Recover songs from that particular year
        songs_from_year = best_selling_singles[best_selling_singles['Released'] == year][['Artist', 'Single']]
        
        # We check if there are multiple songs from that year
        if len(songs_from_year) > 1:
            print(f"Multiple songs found for {year}:")

        else:
            print(f"One song found for {year}:")
        
        return songs_from_year
    
    else:
        # if year not found, then find the closest year
        best_selling_singles['abs_diff'] = (best_selling_singles['Released'] - year).abs()
        closest_index = best_selling_singles['abs_diff'].idxmin()
        closest_year = best_selling_singles.loc[closest_index, 'Released']
        
        # get all songs from the closest year
        songs_from_closest_year = best_selling_singles[best_selling_singles['Released'] == closest_year][['Artist', 'Single']]
        
        # again we check 
        if len(songs_from_closest_year) > 1:
            print(f"Multiple songs found for the closest year ({closest_year}):")
        else:
            print(f"One song found for the closest year ({closest_year}):")
        
        return songs_from_closest_year

## When I was born

get_artist_and_single(2001)

One song found for the closest year (2003):

    Artist               Single
40  O-Zone  "Dragostea din tei"

In [11]:
## When I was 15

get_artist_and_single(2016)

Multiple songs found for 2016:

                               Artist               Single
16            Rihanna featuring Drake               "Work"
20  The Chainsmokers featuring Halsey             "Closer"
30                            Rihanna          "Needed Me"
78    Drake featuring Wizkid and Kyla          "One Dance"
90            Sia featuring Sean Paul      "Cheap Thrills"
98    The Chainsmokers featuring Daya  "Don't Let Me Down"

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [44]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

In [54]:
## Combine to df 

solar_system_exploration = pd.concat(rawdata, axis=0)

## Checking year for max val

## Split launch date after the second space - to create new column 'year'

solar_system_exploration['year'] = solar_system_exploration['Launch date'].str.split(' ', n=2).str.get(2)

## Convert year to numeric and then we count the number of missions per year

solar_system_exploration['year'] = solar_system_exploration['year'].astype('Int64')
missions_per_year = solar_system_exploration['year'].value_counts()

print(f"Year with the most missions: {missions_per_year.idxmax()}")

Year with the most missions: 1965

In [56]:
## Split launch after the first space - to create new column 'month'

solar_system_exploration['month'] = solar_system_exploration['Launch date'].str.split(' ', n=2).str.get(1)

## Count the number of missions per month

missions_per_month = solar_system_exploration['month'].value_counts()

print(f"Month with the most missions: {missions_per_month.idxmax()}")

Month with the most missions: November

In [60]:
## Ranking the missions_per_month from most to fewest 

missions_per_month_ranked = missions_per_month.sort_values(ascending=False)

print(f"Ranking of months with the most missions from most to fewest: {missions_per_month_ranked.index.tolist()}")

Ranking of months with the most missions from most to fewest: ['November', 'August', 'October', 'September', 'July', 'January', 'December', 'May', 'March', 'February', 'June', 'April']

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [61]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")

In [68]:
## Combine to df

comic_villains = pd.concat(rawdata, axis=0)

## Extract year from year of debut

comic_villains['year'] = comic_villains['Year Debuted'].str.extract(r'(\d{4})')

## Creating decade column 

comic_villains['decade'] = comic_villains['year'].str[:3] + '0s'

## Counting the number of villains per decade and producing list of decades with the most villains

villains_per_decade = comic_villains['decade'].value_counts()

print(f"Decade with the most villains debuts: {villains_per_decade.idxmax()}")

## Ranking the villains_per_decade from most to fewest

villains_per_decade_ranked = villains_per_decade.sort_values(ascending=False)

print(f"Ranking of decades with the most villain debuts from most to fewest: {villains_per_decade_ranked.index.tolist()}")

Decade with the most villains: 1960s
Ranking of decades with the most villains from most to fewest: ['1960s', '1970s', '1980s', '1990s', '2000s', '1940s', '1950s', '2010s', '1930s']

In [71]:
## Ranking the comic companies by villains 

villains_per_company = comic_villains['Company'].value_counts()

## Convert to pandas df

villains_per_company = pd.DataFrame(villains_per_company)

print(villains_per_company)

                          count
Company
DC                          338
Marvel                      264
Fawcett Comics/DC             6
Image                         5
Dark Horse                    5
Marvel/Timely                 4
Disney/Hyperion               4
Eternity                      3
Lev Gleason Publications      1
Comico                        1
Mirage                        1
Image Comics                  1

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [79]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()

   Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0           4.16        6.76          4.45         4.65  2015
1           4.35        7.73          4.78         4.46  2015
2           3.60        7.00          4.00         3.50  2015
3           3.90        9.03          4.60         6.30  2015
4           4.22        9.98          6.83         6.24  2015

In [80]:
## Making df into a long format from the wide format 

## Using row num as a id column, year as year, task being the reading_noint, naming_int, reading_int, naming_noint and RT as the value

# Quick creation of column that is the row index

df['id'] = df.index

df_long = df.melt(id_vars=['id', 'Year'], value_vars=['Reading_NoInt', 'Naming_Int', 'Reading_Int', 'Naming_NoInt'], var_name='task', value_name='RT')

In [154]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

#df.index.name = 'Participant_id'
#df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

,Participant_id,Reading_NoInt,Naming_Int,Naming_NoInt,Reading_Int,Year
0,0,4.16,6.76,4.45,4.65,2015
1,1,4.35,7.73,4.78,4.46,2015
2,2,3.60,7.00,4.00,3.50,2015
3,3,3.90,9.03,4.60,6.30,2015
4,4,4.22,9.98,6.83,6.24,2015
...,...,...,...,...,...,...
177,177,4.30,7.08,6.25,4.28,2021
178,178,4.75,9.66,6.12,5.49,2021
179,179,4.98,7.52,6.73,5.16,2021
180,180,5.16,8.81,8.19,5.51,2021
181,181,4.27,10.40,5.32,4.59,2021

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.

In [84]:
## For each year, calculate the mean RT for each task

## Excluding id from this calculation

mean_RT_per_year = df_long.groupby(['Year', 'task'])['RT'].mean()

print(mean_RT_per_year)

Year  task
2015  Naming_Int        8.617143
      Naming_NoInt      5.123571
      Reading_Int       4.446429
      Reading_NoInt     3.951429
2016  Naming_Int        8.859268
      Naming_NoInt      5.405610
      Reading_Int       5.340000
      Reading_NoInt     4.076098
2017  Naming_Int        9.311765
      Naming_NoInt      5.771176
      Reading_Int       5.492353
      Reading_NoInt     4.414412
2018  Naming_Int        9.372667
      Naming_NoInt      5.298000
      Reading_Int       4.938667
      Reading_NoInt     3.886000
2019  Naming_Int        9.536087
      Naming_NoInt      6.345652
      Reading_Int       6.090870
      Reading_NoInt     4.935652
2020  Naming_Int        9.740833
      Naming_NoInt      5.962500
      Reading_Int       4.956667
      Reading_NoInt     4.395000
2021  Naming_Int       10.105484
      Naming_NoInt      6.387742
      Reading_Int       7.038065
      Reading_NoInt     4.842581
Name: RT, dtype: float64