In [37]:
# to scrape data from wikipedia, we need install the package called lxml
# we can do that here from our notebook or, if we think we will use it often, we could modify our "install_packages"
# shell script to install it automatically each time we start a job in UCloud
%pip install lxml

# import pandas so we can put data in a nice dataframe
# we'll abbreviate pandas as pd, because that's what everybody does
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\grazz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

## Scraping data from the web
Using `pandas.read_html`, we can read data from websites where data is presented in a table-like format. Wikipedia has lots of these, and is a great source for data to play with. Below, we'll look at data from the [List of Sesame Street Muppets](https://en.wikipedia.org/wiki/List_of_Sesame_Street_Muppets)

In [38]:
# scrape table data from websites

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_Sesame_Street_Muppets")
df = rawdata[1]
df

,Character,Actor/Muppet performer,Description,Unnamed: 3
0,Abby Cadabby,Leslie Carrara-Rudolph[13],A 4-year-old fairy-in-training with tiny wings...,NaN
1,Alice Snuffleupagus,Judy Sladky[15],"The baby sister of Aloysius Snuffleupagus (""Sn...",NaN
2,Alistair Cookie,Frank Oz[17],"Played by Cookie Monster, he is a parody of Br...",NaN
3,The Amazing Mumford,"Jerry Nelson,[20] John Kennedy[21]","A ""W.C. Fields-esque"" magician whose magic tri...",NaN
4,Anything Muppets,Various[22],Writer Christopher Finch called Anything Muppe...,Writer Christopher Finch called Anything Muppe...
...,...,...,...,...
114,Telly Monster,"Bob Payne (1979), Brian Muehl (1979–1984),[126...","According to Sesame Workshop, ""Telly Monster i...",NaN
115,The Twiddlebugs,"Jim Henson, Frank Oz, Jerry Nelson, Richard Hu...","A family of fuzzy insects (Thomas, Tessie and ...",NaN
116,The Two-Headed Monster,Left Head: Jerry Nelson[40] Right Head: Richar...,"A purple monster with two heads, who generally...",NaN
117,Wes,Bradley Freeman Jr.,A young Muppet boy. His first appearances incl...,NaN
118,Zoe,"Fran Brill (1993–2015),[140] Jennifer Barnhart...",[86] An orange 3-year-old Muppet who loves to ...,NaN

In [39]:
list(df)

['Character', 'Actor/Muppet performer', 'Description', 'Unnamed: 3']

## Removing an unwanted column
Below are several ways to get rid of the final column (there are more ways to do this!) If you find the "axis = 1" part in the first method confusing, well, I do too, and [we are not alone](https://stackoverflow.com/questions/22149584/what-does-axis-in-pandas-mean)! My advice for now is to just accept it and move on. Probably the easiest method is to use `pop` (method 3)

In [40]:

# method 1
df = df.drop(['Unnamed: 3'], axis = 1)
df

,Character,Actor/Muppet performer,Description
0,Abby Cadabby,Leslie Carrara-Rudolph[13],A 4-year-old fairy-in-training with tiny wings...
1,Alice Snuffleupagus,Judy Sladky[15],"The baby sister of Aloysius Snuffleupagus (""Sn..."
2,Alistair Cookie,Frank Oz[17],"Played by Cookie Monster, he is a parody of Br..."
3,The Amazing Mumford,"Jerry Nelson,[20] John Kennedy[21]","A ""W.C. Fields-esque"" magician whose magic tri..."
4,Anything Muppets,Various[22],Writer Christopher Finch called Anything Muppe...
...,...,...,...
114,Telly Monster,"Bob Payne (1979), Brian Muehl (1979–1984),[126...","According to Sesame Workshop, ""Telly Monster i..."
115,The Twiddlebugs,"Jim Henson, Frank Oz, Jerry Nelson, Richard Hu...","A family of fuzzy insects (Thomas, Tessie and ..."
116,The Two-Headed Monster,Left Head: Jerry Nelson[40] Right Head: Richar...,"A purple monster with two heads, who generally..."
117,Wes,Bradley Freeman Jr.,A young Muppet boy. His first appearances incl...
118,Zoe,"Fran Brill (1993–2015),[140] Jennifer Barnhart...",[86] An orange 3-year-old Muppet who loves to ...

In [41]:

# method 2
df = df.loc[:,list(df)[0:3]] 
df

,Character,Actor/Muppet performer,Description
0,Abby Cadabby,Leslie Carrara-Rudolph[13],A 4-year-old fairy-in-training with tiny wings...
1,Alice Snuffleupagus,Judy Sladky[15],"The baby sister of Aloysius Snuffleupagus (""Sn..."
2,Alistair Cookie,Frank Oz[17],"Played by Cookie Monster, he is a parody of Br..."
3,The Amazing Mumford,"Jerry Nelson,[20] John Kennedy[21]","A ""W.C. Fields-esque"" magician whose magic tri..."
4,Anything Muppets,Various[22],Writer Christopher Finch called Anything Muppe...
...,...,...,...
114,Telly Monster,"Bob Payne (1979), Brian Muehl (1979–1984),[126...","According to Sesame Workshop, ""Telly Monster i..."
115,The Twiddlebugs,"Jim Henson, Frank Oz, Jerry Nelson, Richard Hu...","A family of fuzzy insects (Thomas, Tessie and ..."
116,The Two-Headed Monster,Left Head: Jerry Nelson[40] Right Head: Richar...,"A purple monster with two heads, who generally..."
117,Wes,Bradley Freeman Jr.,A young Muppet boy. His first appearances incl...
118,Zoe,"Fran Brill (1993–2015),[140] Jennifer Barnhart...",[86] An orange 3-year-old Muppet who loves to ...

In [42]:
# method 3
#df.pop('Unnamed: 3')
df

,Character,Actor/Muppet performer,Description
0,Abby Cadabby,Leslie Carrara-Rudolph[13],A 4-year-old fairy-in-training with tiny wings...
1,Alice Snuffleupagus,Judy Sladky[15],"The baby sister of Aloysius Snuffleupagus (""Sn..."
2,Alistair Cookie,Frank Oz[17],"Played by Cookie Monster, he is a parody of Br..."
3,The Amazing Mumford,"Jerry Nelson,[20] John Kennedy[21]","A ""W.C. Fields-esque"" magician whose magic tri..."
4,Anything Muppets,Various[22],Writer Christopher Finch called Anything Muppe...
...,...,...,...
114,Telly Monster,"Bob Payne (1979), Brian Muehl (1979–1984),[126...","According to Sesame Workshop, ""Telly Monster i..."
115,The Twiddlebugs,"Jim Henson, Frank Oz, Jerry Nelson, Richard Hu...","A family of fuzzy insects (Thomas, Tessie and ..."
116,The Two-Headed Monster,Left Head: Jerry Nelson[40] Right Head: Richar...,"A purple monster with two heads, who generally..."
117,Wes,Bradley Freeman Jr.,A young Muppet boy. His first appearances incl...
118,Zoe,"Fran Brill (1993–2015),[140] Jennifer Barnhart...",[86] An orange 3-year-old Muppet who loves to ...

In [43]:
# take a column from a dataframe and assign it to a list variable

muppet_names = df['Character']

In [44]:
# find the first four items in the list

muppet_names[0:4]

0           Abby Cadabby
1    Alice Snuffleupagus
2        Alistair Cookie
3    The Amazing Mumford
Name: Character, dtype: object

In [45]:
# find the last three items in the list

muppet_names[-3:]

116    The Two-Headed Monster
117                       Wes
118                       Zoe
Name: Character, dtype: object

In [46]:
# find items in the middle of the list

middle_index = len(muppet_names) // 2

middle_name = muppet_names[middle_index]


print(middle_name)

Hoots

In [47]:
# select the first 20 items from a list

muppet_names[0:20]

0                             Abby Cadabby
1                      Alice Snuffleupagus
2                          Alistair Cookie
3                      The Amazing Mumford
4                         Anything Muppets
5                              AM Monsters
6                                Aristotle
7                           Arlene Frantic
8                                Baby Bear
9                                  Barkley
10    Beautiful Day Monster[broken anchor]
11                           Bennett Snerf
12                                   Benny
13                                    Bert
14                               Betty Lou
15                                    Biff
16                                Big Bird
17                          Bip Bippadotta
18                                   Bruno
19                                  Buster
Name: Character, dtype: object

In [48]:
# remove the last item in a list

muppet_names = muppet_names[:-1]

In [49]:
# inpsect the list to make sure the last item was removed

len(muppet_names)

118

In [50]:
# remove a specific item from the list

muppet_names.pop(5)

'AM Monsters'

In [51]:
# stick a Kermit on the end of the list

muppet_names.loc[len(muppet_names)] = 'Kermit the Frog'

In [53]:
# inspect the list to make sure Kermit was added

# transform to list instead of series because annoying

muppet_names = list(muppet_names)

muppet_names[-1]

'Kermit the Frog'

In [54]:
# insert an item into a list at a particular position

muppet_names.insert(5, 'Mattis the Cat')

In [55]:
# replace an item in a list

muppet_names[5] = 'Cat the Mattis'

In [57]:
# make a new list which adds "is a cute monster" to each item in the list

# Reconvert to series 

muppet_names = pd.Series(muppet_names)

muppet_descriptions = muppet_names + " is a cute monster"

In [58]:
# reset list b to original first 20 items from list a

# Taking the first 20 values from muppet names and putting them into the first 20 in muppet descriptions 

muppet_descriptions[0:20] = muppet_names[0:20]

In [ ]:
# make a list of your favorite monsters, and then make a new list which only includes the monsters 
# from list b that are also in your favorites list

In [ ]:
# make a new list which includes the monsters from list b that are not in your favorites list

## More fun with lists

In [ ]:
# add 10 to each number in d

In [ ]:
# divide each number in d by 2

## Dataframe manipulation

In [ ]:
# download the student sleep data
df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/ExPsyLing/master/Data/StudentSleep.csv")
df

In [ ]:
# find the number of rows and columns in the dataframe

In [ ]:
# make a new dataframe df1 which only includes the first 4 rows of the original dataframe

In [ ]:
# make another new dataframe df2 which only includes rows 5 through the end of the original dataframe

In [ ]:
# make a third dataframe df3 with df2 on top of df1 (hint: use pd.concat)

In [ ]:
# overwrite df3 with df1 and df2 back in their original order

In [ ]:
# make a new column called "average" which is the mean of the other columns for each row
df3['average'] = df3.mean(axis = 1)
df3

In [ ]:
# remove the average column from the dataframe
df3.pop('average')
df3

In [ ]:
# make a list of the means of each column in the dataframe
column_means = list(df3.mean())
column_means

In [ ]:
# make a list of the means of each row in the dataframe
colnames = list(df3)
colnames

In [ ]:
list(zip(colnames, column_means))

In [ ]:
student_means = dict(zip(colnames, column_means))
student_means

In [ ]:
print('Student 4\'s average:', round(student_means['Student 4'], 3))

In [ ]:
# make a dataframe the mean hours of sleep for each student
df_means = pd.DataFrame(zip(colnames, column_means))
df_means.columns = ['Students', 'Sleep Hours']
df_means

In [ ]:
# transpose the dataframe
df_transposed = df3.transpose()
df_transposed

In [ ]:
colnames = list(df_transposed)
colnames

In [ ]:
newcols = ['Day ' + str(x+1) for x in colnames]
newcols

In [ ]:
df_transposed.columns = newcols
df_transposed

In [ ]:
df_transposed.index.name = 'student'
df_transposed

In [ ]:
df_transposed.reset_index(inplace = True)
df_transposed

In [ ]:
df_long = pd.melt(df_transposed, id_vars = 'student')
df_long